* {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  box-sizing: border-box;
}

header {
  height: 2rem;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header, #about {
  background: bisque;
  color: rgba(35, 38, 249, 0.997);
}

h1 {
  flex: 1;
  font-size: xx-small;
}

h2 {
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  padding: 1rem;
  color: rgba(35, 38, 249, 0.997);
}

nav {
  flex: 2;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  margin: 0;
  padding: 1em;
}

ul li {
  margin: 0 1.5em;
}

a {
  text-decoration: none;
  color: rgba(35, 38, 249, 0.997);
  font-size: small;
  font-weight: bolder;
  transition: all 0.3s ease;
}

a:hover {
  color: rgba(35, 38, 249, 0.997);
}

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#about p {
  width: 28rem;
  text-align: left;
  color: rgba(35, 38, 249, 0.997);
  font-weight: bold;
  padding-bottom: 4rem;
}

#projects .grid-div {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

.grid-div img {
  width: 100%;
  height: 500px;
  object-fit: fill;
  border: 0.5px solid lightgray;
  grid-gap: 10px;
}

.colab {
  color: bisque;
  font-size: x-large;
  text-align: center;
  font-weight: bold;
  margin: 1rem auto;
}

hr {
  background-color: whitesmoke;
}

.fo-li {
  justify-content: center;
}

.fo-a {
  color: black;
}

.fo-a:hover {
  color: bisque;
}

#contact {
  padding: 4rem;
}

#contact form {
  display: flex;
  flex-direction: column;
  max-width: 38rem;
  margin: 0 auto;
}

#contact label {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: large;
}

#contact input, textarea {
  border-radius: 0.32rem;
  border: 1px solid black;
  margin-bottom: 1.5rem;
  padding: 0.64rem;
}

#contact button {
  background-color: bisque;
  color: black;
  padding: 0.64rem 1.28rem;
  border: none;
  cursor: pointer;
  border-radius: 0.32rem;
  font-size: 1rem;
}

#contact button:hover {
  background-color: bisque;
  color: rgba(35, 38, 249, 0.997);
}

footer {
  background-color: whitesmoke;
  color: rgba(35, 38, 249, 0.997);
  text-align: center;
  letter-spacing: 0.2rem;
  font-size: larger;
  font-weight: normal;
  height: 1.5rem;
}

